<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mucheng.web.devops">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name="com.mucheng.web.devops.application.AppContext"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WebDev"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name="com.mucheng.web.devops.ui.activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.mucheng.web.devops.ui.activity.MainActivity" />

        <activity android:name="com.mucheng.web.devops.ui.activity.LoginActivity" />

        <activity android:name=".ui.activity.SelectNewProjectActivity" />

        <activity
            android:name="com.mucheng.web.devops.ui.activity.AppCrashHandlerActivity"
            android:launchMode="singleTop" />

        <activity android:name=".ui.activity.EditorActivity" />

        <activity android:name=".ui.activity.ExecuteActivity" />

        <activity android:name=".ui.activity.AboutActivity" />

        <activity android:name=".ui.activity.ManagePluginActivity" />

        <activity android:name=".ui.activity.DisplayPluginActivity" />

        <activity android:name=".ui.activity.PluginSettingActivity" />

        <activity android:name=".ui.activity.FileSelectorActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.mucheng.web.devops.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>